{% extends "magasin/base.html" %}
{% block content %}


<h1>Liste des voitures</h1>
<a href="/">Accueil</a><br>
<a href="{% url 'magasin:voiture-list' %}">Afficher par no de série</a><br>
<a href="{% url 'magasin:voiture-list' %}?orderby=marque">Afficher par marque</a><br>
<a href="{% url 'magasin:voiture-list' %}?orderby=modele">Afficher par modele</a><br>
<br><br>
  {% if voiture_list %}
  <ul>
    {% for voiture in voiture_list %}
      <li>
        <p><a href="{{ voiture.get_absolute_url }}">Voir: {{ voiture.no_serie }}</a> --> Actions: <a href="{% url 'magasin:voiture-vendre' voiture.id %}">Vendre</a> -- <a href="{% url 'magasin:voiture-delete' voiture.id %}">Supprimer</a></p>
        <p>Marque: {{voiture.marque}} | Modele: {{voiture.modele}}</p>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Aucune voiture à afficher.</p>
  {% endif %}       

{% endblock content %}